<h1>TESTE HTTP GET</h1>


<form [formGroup]="form"  (submit)="getPost()">
    <div>
        <label>filter:</label>
        <br>
        <input type="text" formControlName="filter"/>
      </div>
      
</form>

<div *ngFor="let item of postsFiltred">
  <hr>
  <br>
  <span>Id do Post: {{item.id}}</span>
  <br>
  <span>Title: {{item.title}}</span>
  <br>
  <span>User Id: {{item.userId}}</span>
  <br>
  <div style="color:red">
      Body: {{item.body}}
  </div>
  <br>
</div>

<router-outlet></router-outlet>